
 #fixed-side-bar {
    margin: 40px 10px 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    border: solid;
    background-color: #ffebcd;
}
#fixed-side-bar tr {
    background-color: #e9967a;   
}
#menu-table-head {
    color: #001e4b;
}
#menu-table-body a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
#menu-table-body a:hover {
    font-weight: 700;
    color: #00ffff;
}

body {
    background-color: #c2c2c2;
}
main {
    padding: 0px 0px 0px 0px;
    margin: 40px 30px 30px 90px;
    background-color: #ffebcd;
    border: solid;
}

h1 {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 10px 0 30px 0;
    text-decoration: underline;
    background-color: #001e4b;
    color: #ffebcd;
}
#position-summary {
    padding: 15px;
    border-bottom: solid;
    border-width: 2px;
}
.position-values {
    border-bottom: solid;
    border-width: 1px;
    background-color: #fff06c;
    padding: 15px;
    
}
.properties {
    border-top: solid;
    background-color: #8fbc8f;
    padding: 15px 20px;
}

.h3-title {
    text-align: center;
}
.codeandtext .value-text {
    display: inline-block;
    text-align: left;
    max-width: 60%;
    min-width: 60%;
    margin: auto;
}
.code-example {
    display: inline-block;
    border: solid;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: #fff8f0;
    font-family: "IBM Plex Mono", "Roboto Mono";
    font-size: small;
}
.code {
    display: block;
    padding: 0;
    margin: 0;
}
.indent {
    padding-left: 15px;
 }
 .bold, .boldened p {
    display: inline-block;
    margin: 0;
 }
  .bold {
    display: inline;
    font-weight: 900;
    color: #fc8c0d;
 }

.value-text-2 {
    max-width: 80%;
    display: inline-block;
}
.value-text a, .value-text-2 a {
    text-decoration: none;
}
.value-text a:hover, .value-text-2 a:hover {
    color:#00ffff;
    font-weight: bold;
}

.offset-table {
    margin-top: 20px;

}
.offset-table tr {
    text-align: center;  
}
 td {
    border: solid 1px;
    padding: 5px;
 }
